.contentMainWrapper {
	padding-left: 96px;
	padding-right: 96px;
	margin: 0 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: var(--font-sans);
	gap: 2.5em;
}

.boxDiv {
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 64rem;
	height: 30rem;
	transition: 0.5s;
}

.boxDiv:hover {
	box-shadow: 12px 12px 36px #6b6b6b, -12px -12px 36px #81a8f7;
}

.contactLink {
	font-family: var(--font-sans);
	position: absolute;
	bottom: 5%;
	white-space: nowrap;
}

.contactSecond {
	font-size: 4em;
	transition: 1s;
	opacity: 0%;
}

.boxDiv:hover .contactSecond {
	opacity: 100%;
}

.contactFirst {
	position: absolute;
	font-size: 4em;
	transition: 0.3s;
}

.boxDiv:hover .contactFirst {
	position: static;
	transition: 0s;
}

.bar {
	background-color: transparent;
	height: 2px;
	border-radius: 40px;
	width: 4em;
	margin: 1em;
	transition: 1s;
	transition-delay: 0ms;
}

.boxDiv:hover .bar {
	background-color: #3c79f5;
}

.bar2 {
	background-color: transparent;
	height: 2px;
	border-radius: 40px;
	width: 4em;
	margin: 1em;
	transition: 1s;
	transition-delay: 800ms;
}

.boxDiv:hover .bar2 {
	background-color: #3c79f5;
}

.contactP {
	opacity: 0%;
	transition: 1s;
	transition-delay: 400ms;
}

.boxDiv:hover .contactP {
	opacity: 100%;
}

.boxDiv:hover .buttonContainer {
	opacity: 100%;
}

.buttonContainer {
	opacity: 0%;
	transition: 1s;
	transition-delay: 1200ms;
}

.contactButton {
	align-items: center;
	background-clip: padding-box;
	background-color: #4a83f5;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue',
		Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	transition: all 250ms;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.contactButton:hover {
	background-color: #3c79f5;
}

.contactButton:hover,
.contactButton:focus {
	background-color: #3c79f5;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.contactButton:hover {
	transform: translateY(-1px);
}

.contactButton:active {
	background-color: #81a8f7;
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
}

.finalHeader {
	display: flex;
	width: 15.5em;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	right: auto;
	opacity: 0%;
	gap: 13%;
}

@media (max-width: 800px) {
	.finalHeader {
		opacity: 100%;
	}
}

@media (max-width: 1060px) {
	.boxDiv {
		width: 20rem;
		padding: 5em 2em;
	}

	.boxDiv {
		box-shadow: 12px 12px 36px #6b6b6b, -12px -12px 36px #81a8f7;
	}

	.contactLink {
		font-family: var(--font-sans);
		position: absolute;
		bottom: 5%;
	}

	.contactFirst {
		position: static;
		transition: 0s;
		font-size: 40px;
		white-space: nowrap;
	}

	.bar {
		background-color: #3c79f5;
		height: 2px;
		border-radius: 40px;
		width: 4em;
		margin: 1em;
		transition: 1s;
		transition-delay: 0ms;
	}

	.bar2 {
		background-color: #3c79f5;
		height: 2px;
		border-radius: 40px;
		width: 4em;
		margin: 1em;
		transition: 1s;
		transition-delay: 0ms;
	}

	.contactP {
		opacity: 100%;
		transition: 1s;
		transition-delay: 400ms;
	}

	.buttonContainer {
		opacity: 100%;
	}
}
