:root {
    --font-sans: "Inter", "San Francisco", "SF Pro Text", sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --easing: cubic-bezier(0.65, 0.05, 0.36, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
    --green-300: #00B37E;
    --green-500: #00875f;
    --red-500: #F75A68;
    --font-bold: 600;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
}

#root {
    margin: 0 auto;
    text-align: center;

}



:focus {
    outline: none;
    box-shadow: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left bottom, #ffffff, #eaf0fb, #cbe4f6, #a5d9ea, #80cfd3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .dark {
    transition: .3s;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
} */