* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.introPhoto {
        grid-column: 1;
        grid-row: 1;
        opacity: 0%;   
        transition: .3s;
}

.nameAndRole:hover .introPhoto {
    opacity: 100%;
}

.atom {
    grid-column: 1;
    grid-row: 1;
}




header {
    position: sticky;
    top: 0;
    width: 100vw;
    gap: 60%;
    justify-content: center;
    height: 8vh;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px) saturate(120%);
    -webkit-backdrop-filter: blur(18px) saturate(139%);
    border-radius: 4px;
    border-bottom: 1px solid rgba(97, 97, 97, 0.125);
    padding: 0 7em;
    z-index: 99;
}

link {
    padding: 1em;
    font-family: var(--font-sans);
}


.link a,
.finalHeader a {
    padding: 1em;
    font-family: var(--font-sans);
}

.nameAndRole a {
    padding: 0;
    display: grid;
    opacity: 100%;
    
}

.nameAndRole {
    display: flex;
    padding-left: 11.55em;
}

.nameAndRole span {
    width: max-content;
    line-height: 2.5em;
    padding-left: .5em;
    font-family: var(--font-sans);
    opacity: 0%;
    transition: .3s;
}

.nameAndRole:hover span {
    opacity: 100%;
}

.finalHeader {
    padding-right: 0em;
}

a {
    color: var(--gray-900);
    transition: 0.3s;
    opacity: 60%;
    font-weight: light;
    font-family: var(--font-mono);
}

a:hover {
    color: black;
    opacity: 100%;
}


.leftHeader {
    width: 2.5rem;
    position: fixed;
    bottom: 0px;
    left: 2.5rem;
    right: auto;
    z-index: 10;
    padding-bottom: 2em;

}

.selectorRight {
    width: 40px;
    position: fixed;
    bottom: 50%;
    right: 3.2rem;
    left: auto;
    z-index: 11;
}

.linkButtons {
    margin-bottom: 8px;
}

@media (max-width: 800px) {

    .selectorRight {
        opacity: 0%;
    }

    .leftHeader {
        opacity: 0%
    }

    .header {
        flex-wrap: wrap;
        gap: 0%;
    }
}

.spotifyLink {
    position: fixed;
    width: 300px;
    height: 150px;
}

.divSpotify {
    bottom: 2.5rem;
    right: 4rem;
    left: auto;
    padding-bottom: 2em;
    position: fixed;
    z-index: 9999;
	background-color: #d8f5e3;
	border: 2px solid #1cd760;
	border-radius: 8px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	height: 80px;
	width: 300px;
	margin: 1em 0;
    padding: 1em 0;
}

.divSpotify img {
	width: 50px;
	height: 50px;
	margin: 0 0.5em;
}

.divSpotifyText {
	font-family: var(--font-sans);
	font-weight: normal;
    width:150px;
	margin: 0 0.5em 0 0;
	display: flex;
	text-align: start;
	flex-direction: column;
	justify-content: center;
}

.divSpotifyTitle {
	font-weight: bold;
}
