* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    gap: 66%;
    justify-content: center;
    height: 6em;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px) saturate(120%);
    -webkit-backdrop-filter: blur(18px) saturate(139%);
    border-radius: 4px;
    border-bottom: 1px solid rgba(97, 97, 97, 0.125);
    padding: 0 7em;
    z-index: 10;
}

link {
    padding: 1em;
    font-family: var(--font-sans);
}


.link a,
.finalHeader a {
    padding: 1em;
    font-family: var(--font-sans);
}

.nameAndRole {
    padding: 0;
}

.finalHeader {
    padding-right: 0em;
}

a {
    color: var(--gray-900);
    transition: 0.3s;
    opacity: 60%;
    font-weight: light;
    font-family: var(--font-mono);
}

a:hover {
    color: black;
    opacity: 100%;
}

.leftHeader {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    padding-bottom: 2em;
}

.rightHeader {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    left: auto;
    z-index: 11;
    writing-mode: vertical-lr;
    padding-bottom: 2em;
}

.linkButtons {
    margin-bottom: 8px;
}

@media only screen and (max-device-width: 500px) {

    .rightHeader {
        bottom: 0px;
        right: auto;
        top: 30%;
        text-align: start;
    }

    .leftHeader {
        text-align: start;
        top: 15%;
        left: 3px
    }

    .header {
        flex-wrap: wrap;
        gap: 0%;
    }
}