.contentMainWrapper {
	padding-left: 70px;
	padding-right: 70px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0 30px;
}

.circleRef {
	position: absolute;
	z-index: -1;
	opacity: 30%;
}

.stackDiv {
	margin-top: 1rem;
	transition: 0.3s;
	opacity: 0%;
}

.paperDiv:hover .stackDiv {
	opacity: 100%;
}

.contentMainDiv {
	text-align: center;
	justify-content: center;
}

.paperDiv {
	position: relative;
	width: fit-content;
	height: fit-content;
	padding: 12px;
	text-align: center;
	border-radius: 12px;
	transition: 0.3s;
	z-index: 1;
}

.paperDiv:hover {
	background: #ffffff47;
	box-shadow: -12px -12px 33px #e6e6e673, 12px 12px 33px #a5ffb6b3;
}

.hoursSince {
	font-size: 5rem;
	font-family: var(--font-sans);
	font-weight: 800;
	background: rgb(123, 195, 34);
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(4, 230, 216, 1) 29%,
		rgba(187, 255, 19, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: blur(10px);
	transition: 0.3s;
	width: fit-content;
}

.hoursSinceHiddenText {
	font-family: var(--font-sans);
	font-size: 0.85rem;
	opacity: 0%;
	transition: 0.3s;
	width: max-content;
}

.paperDiv:hover .hoursSince {
	filter: blur(0px);
}

.paperDiv:hover .hoursSinceHiddenText {
	opacity: 100%;
}

.hoursSinceDiv {
	display: grid;
	grid-template-columns: 11.5em 11em;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;
}

.hoursSinceText {
	font-family: var(--font-sans);
	width: fit-content;
	padding-top: 0.9em;
	font-size: var(--fsz-pri);
	text-align: left;
	line-height: 1.3rem;
}

.contentMainWrapper:hover .iconsBackground1 {
	opacity: 100%;
}

.contentMainWrapper:hover .iconsBackground2 {
	opacity: 100%;
}

.contentMainWrapper:hover .iconsBackground3 {
	opacity: 100%;
}

.contentMainWrapper:hover .iconsBackground4 {
	opacity: 100%;
}

.contentMainWrapper:hover .iconsBackground5 {
	opacity: 100%;
}

.contentMainWrapper:hover .iconsBackground6 {
	opacity: 100%;
}

.contentMainWrapper:hover .iconsBackground7 {
	opacity: 100%;
}

.contentMainWrapper:hover .iconsBackground8 {
	opacity: 100%;
}

.iconsBackground {
	height: max-content;
	width: max-content;
	color: #275d52;
}

.iconsBackground1 {
	position: absolute;
	top: 7%;
	right: 48%;
	transition: 1s;
	transition-delay: 200ms;
	opacity: 0%;
}

.iconsBackground2 {
	position: absolute;
	top: 20%;
	right: 31%;
	transition: 1s;
	transition-delay: 400ms;
	opacity: 0%;
}

.iconsBackground3 {
	position: absolute;
	top: 45%;
	right: 25%;
	transition: 1s;
	transition-delay: 600ms;
	opacity: 0%;
}

.iconsBackground4 {
	position: absolute;
	bottom: 20%;
	right: 31%;
	transition: 1s;
	transition-delay: 800ms;
	opacity: 0%;
}

.iconsBackground5 {
	position: absolute;
	bottom: 7%;
	right: 48%;
	transition: 1s;
	transition-delay: 1000ms;
	opacity: 0%;
}

.iconsBackground6 {
	position: absolute;
	bottom: 20%;
	left: 31%;
	transition: 1s;
	transition-delay: 1200ms;
	opacity: 0%;
}

.iconsBackground7 {
	position: absolute;
	top: 45%;
	left: 25%;
	transition: 1s;
	transition-delay: 1400ms;
	opacity: 0%;
}

.iconsBackground8 {
	position: absolute;
	top: 20%;
	left: 31%;
	transition: 1s;
	transition-delay: 1600ms;
	opacity: 0%;
}

@media (max-width: 1060px) {

	.paperDiv {
		width: 20em;
	}

	.hoursSince {
		filter: blur(0px);
		font-size: 4rem ;
	}
	.hoursSinceHiddenText {
		opacity: 100%;
	}
	.stackDiv {
		opacity: 100%;
	}

	.paperDiv:hover {
		background: #ffffff47;
		box-shadow: -12px -12px 33px #e6e6e673, 12px 12px 33px #a5ffb6b3;
	}
	.paperDiv {
		background: #ffffff47;
		box-shadow: -12px -12px 33px #e6e6e673, 12px 12px 33px #a5ffb6b3;
	}
	.iconsBackground1 {
		opacity: 0%;
		z-index: -1;	
		left: 26.2%;
	}
	
	.iconsBackground2 {
		opacity: 0%;
		z-index: -1;
		left: 35%;
	}
	
	.iconsBackground3 {
		opacity: 0%;
		z-index: -1;
		left: 43.5%;
	}
	
	.iconsBackground4 {
		opacity: 0%;
		z-index: -1;
		left: 52%;
	}
	
	.iconsBackground5 {
		opacity: 0%;
		z-index: -1;
		left: 60.4%;
	}
	
	.iconsBackground6 {
		opacity: 0%;
		z-index: -1;
	}
	
	.iconsBackground7 {
		opacity: 0%;
		z-index: -1;
	}
	
	.iconsBackground8 {
		opacity: 0%;
		z-index: -100;
	}
}
