#overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 99999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: 1s 0.4s;
}

#blank {
	position: fixed;
	height: 0vh;
	width: 0vw;
	z-index: 99999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.contentMainWrapper {
	padding-left: 96px;
	padding-right: 96px;
	margin: 0px 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: var(--font-sans);
}

.boxDivs {
	display: flex;
	flex-direction: row;
}

.box1Div {
	margin: 1em;
	font-family: var(--font-sans);
	border-radius: 20px;
	background: linear-gradient(145deg, #f0f0f0, #b9a8ff);
	box-shadow: 12px 12px 36px #a6a6a6, -12px -12px 36px #d3cfff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 25rem;
}

.nasaAPI {
	border: 2px solid #0c58d3;
	border-radius: 20px;
}

.box1Div span {
	font-size: var(--fsz-pri);
	padding-top: 1em;
	font-family: var(--font-sans);
}

.box1Div a {
	opacity: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box1Div img {
	border-radius: 2px;
	height: 200px;
	width: 200px;
}

.divSpotify {
	background-color: #d8f5e3;
	border: 2px solid #1cd760;
	border-radius: 8px;
	display: flex;
	padding: 1em 0;
	margin: 1em 0;
}

.divSpotify img {
	width: 50px;
	height: 50px;
	margin: 0 .5em;
}

.divSpotifyText {
	font-family: var(--font-sans);
	font-weight: normal;
	margin: 0 .5em 0 0;
	display: flex;
	text-align: start;
	flex-direction: column;
	justify-content: center;
}

.divSpotifyTitle {
	font-weight: bold;
}

.box2link {
	opacity: 100%;
}

.box2Div {
	margin: 1em;
	font-family: var(--font-sans);
	border-radius: 20px;
	background: linear-gradient(145deg, #f0f0f0, #adfaec);
	box-shadow: 12px 12px 36px #a6a6a6, -12px -12px 36px #dafff0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 25rem;
}

.box3Div {
	margin: 1em;
	border-radius: 20px;
	background: linear-gradient(145deg, #f0f0f0, #ef9697);
	box-shadow: 12px 12px 36px #a6a6a6, -12px -12px 36px #ffe4e4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 25rem;
}

.box3Div span {
	font-size: var(--fsz-pri);
	padding-top: 1em;
	font-family: var(--font-sans);
}

.box3Div a {
	opacity: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box3Div img {
	border-radius: 2px;
	height: 200px;
	width: 200px;
}

.gitHubCalendar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.gitHubCalendar article {
	text-align: center;
}

.gitHubCalendar footer {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.gitHubCalendar div {
	font-size: 6rem;
	font-family: var(--font-sans);
	font-weight: 800;
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(4, 230, 216, 1) 29%,
		rgba(187, 255, 19, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
	padding: 0;
	transition: 0.3s;
}

.gitHubCalendarText {
	font-family: var(--font-sans);
}
