#overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(
		to left bottom,
		#ffffff,
		#eaf0fb,
		#cbe4f6,
		#a5d9ea,
		#80cfd3
	);
	z-index: 99999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.svgAnimate {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	margin: 20px;
	width: 100px;
	height: 100px;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 2000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 2000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-ms-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#blank {
	opacity: 0%;
	position: fixed;
	z-index: 99999;
	height: 0%;
	width: 0%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contentMainWrapper {
	padding-left: 96px;
	padding-right: 96px;
	margin: 0px 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: var(--font-sans);
}

.boxDivs {
	display: flex;
	flex-direction: row;
}

.box1Div {
	margin: 1em;
	font-family: var(--font-sans);
	border-radius: 20px;
	background: linear-gradient(145deg, #f0f0f0, #b9a8ff);
	box-shadow: 12px 12px 36px #a6a6a6, -12px -12px 36px #d3cfff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 35rem;
	transition: 0.5s;
}

.box1Div a {
	opacity: 100%;
}

.div1Text {
	width: 250px;
}

.box2Div {
	margin: 1em;
	font-family: var(--font-sans);
	border-radius: 20px;
	background: linear-gradient(145deg, #f0f0f0, #8bffea);
	box-shadow: 12px 12px 36px #a6a6a6, -12px -12px 36px #dafff0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 35rem;
	transition: 0.5s;
}

.box3Div {
	margin: 1em;
	border-radius: 20px;
	background: linear-gradient(145deg, #f0f0f0, #ef9697);
	box-shadow: 12px 12px 36px #a6a6a6, -12px -12px 36px #ffe4e4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 35rem;
	transition: 0.5s;
}

.box1Div:hover {
	box-shadow: 12px 12px 36px #6b6b6b, -12px -12px 36px #b9a8ff;
}

.box2Div:hover {
	box-shadow: 12px 12px 36px #6b6b6b, -12px -12px 36px #8bffea;
}

.box3Div:hover {
	box-shadow: 12px 12px 36px #6b6b6b, -12px -12px 36px #ef9697;
}

.box1Div span {
	font-size: var(--fsz-pri);
	padding-top: 1em;
	font-family: var(--font-sans);
}

.box1Div a {
	opacity: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box1Div img {
	border-radius: 2px;
	height: 200px;
	width: 200px;
}

.divSpotify {
	background-color: #d8f5e3;
	border: 2px solid #1cd760;
	border-radius: 8px;
	display: flex;
	height: 90px;
	width: 260px;
	padding: 1em 0;
	margin: 1em 0;
}

.divSpotify img {
	width: 50px;
	height: 50px;
	margin: 0 0.5em;
}

.divSpotifyText {
	font-family: var(--font-sans);
	font-weight: normal;
	margin: 0 0.5em 0 0;
	display: flex;
	text-align: start;
	flex-direction: column;
	justify-content: center;
}

.divSpotifyTitle {
	font-weight: bold;
}

.boxLink {
	opacity: 100%;
}

.box3Div span {
	font-size: var(--fsz-pri);
	padding-top: 1em;
	font-family: var(--font-sans);
}

.box3Div a {
	opacity: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box3Div a:hover {
	opacity: 100%;
}

.apiSpotifyInfo {
	font-weight: bold;
	font-family: var(--font-sans);
	padding: 0.5em;
}

.apiSpotifyPs p {
	padding: 0.5em 1em;
	font-family: var(--font-mono);
}

.gitHubCalendar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.gitHubCalendar article {
	text-align: center;
}

.gitHubCalendar footer {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.gitHubCalendar div {
	font-size: 6rem;
	font-family: var(--font-sans);
	font-weight: 800;
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(4, 230, 216, 1) 29%,
		rgba(187, 255, 19, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
	padding: 0;
	transition: 0.3s;
}

.gitHubCalendarText {
	font-family: var(--font-sans);
}

.spotifyInfoText {
	width: 300px;
}

@media (max-width: 1200px) {
	.boxDivs {
		flex-direction: column;
	}

	.contentMainWrapper {
		margin: 5em;
	}
}

.disabledLink {
	opacity: 100%;
}